table{
    border: 1px solid #263238;
    width: 50%; 
    margin: 0 auto; 
}
caption{
    color: #263238;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
thead th {
    background-color: #455a64;
    color: white;
    font-weight: 700;
}
tbody tr:nth-child(even) {
    background-color: #eceff1; 
}

tbody tr:nth-child(odd) {
    background-color: #b0bec5; 
}
tfoot tr {
    background-color: #78909c;
    font-weight: 800;
}
tbody td:nth-child(2) {
    color: #003300;
}
tbody td:nth-child(3) {
    color: #7f0000;
}
td {
    text-align: right;
}